body{
    font-family:Open Sans;
    margin:auto;
    scroll-behavior: smooth;
}
#navbar{
    background-color: #dfdfdf;
    font-size: 20px;
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonrow{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.button{
    padding-left:20px;
    padding-right: 20px;
    text-decoration:none;
    color: black;
}
#navbar-name{
    font-size:40px;
    padding-left:20px;
}

#work{
    margin:auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding-top:50px;
    padding-bottom:50px;
}
.projects{
    display:flex;
    justify-content: center;
    margin:auto;
    padding:50px;
    align-content: center;
}
.mockupimg{
    width: 50vw;
    border-radius: 30px;
    box-shadow: 0px 3px 8px 0px #a8a8a8;
}
.mockupimg:hover{
    transform: scale(1.03);
    transition: 0.2s;
}

#footer{
    background-color: #dfdfdf;
    font-size: 20px;
    padding: 40px;
}
#footermsg{
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}